@import url('https://fonts.googleapis.com/css?family=Roboto');


*{
   font-family: 'Roboto';
   margin: 0;
   padding: 0;
}
h2{
   color: red;
}

.one{

   //background: #FF425D;
}
.one img{
   position: relative;
   height:20vh;

}
.one form{
   height: 10vh;
   background: #ffffff;
   margin-top: 70vh;

}
form input{
   height: 50px;
   width: 60vh;
   border: solid #ff425d 2px;
}
form button {
   background: #e3e3e3;

}
form button {
   margin-left: 20px;
  border-radius: 6px;
  color: #ffffff;
  font-size: 20px;
  padding: 11px;
  //background: #FF425D;
  background-color: transparent;
  color: #ff425d;
  border: solid #ff425d 2px;
  text-decoration: none;
   -webkit-transition: all .25s;
}
::-webkit-input-placeholder {
   color: #ff425d;
   font-size: 15px;
   //padding-left: 10px;
}
input:focus{
   outline: none;
   color:#ff425d;
}
input[type="text"], select{
   padding-left: 15px;
   font-size: 15px;
   color:#ff42d;
}
button:hover {
  background: white;
  color: #FF425D;
  text-decoration: none;
   cursor: pointer;
  padding: 10px;
}

.two{
   background: blue;
}
section{
   height: 100vh;
}
footer{
   background: #122232;
   color: #e3e3e3;
   //height: 10vh;
   text-align: center;
}

footer p{
   padding: 10px;
}


#map {
   z-index: -1;
   position: absolute;
   height:100vh;
   width: 100vw;
}