@import url('https://fonts.googleapis.com/css?family=Roboto');


*{
   font-family: 'Roboto';
   margin: 0;
   padding: 0;
}
h2{
    color: #ff425d;
    font-size: 50px;
    font-weight: 300;
}
.one img{
   position: relative;
   margin-top: 15vh;
   height: 20vh;
}
.logo{
   margin-top: 30vh;
}
.button {
   width: 6vw;
    margin-top: 20vh;
    position: absolute;
   left:50%;
   z-index: 100;
}

.company{
   position: absolute;
       font-weight: 200;
       color: #ff425d;
       width: 100vw;
       text-align: center;
       font-size: 50px;
       z-index: 100000;
}
.lol{
   position: relative;
   left: -50%;


   border-radius: 6px;
   color: #ffffff;
   font-size: 20px;
   padding: 11px;
   background-color: transparent;
   color: #ff425d;
   border: solid #ff425d 2px;
   -webkit-transition: all .25s;
   text-decoration: none;

}
.lol:hover {
  background: #FF425D;
  color: white;
  cursor: pointer;
}

section{
   min-height: 100vh;
}
footer{
   background: #122232;
   color: #e3e3e3;
   /*height: 10vh;*/
   text-align: center;
}

footer p{
   padding: 10px;
}

.left {
    font-size: 20px;
    padding: 0 10px;
    vertical-align: top;
    width: 30vw;
    display: inline-block;
    margin: 5vh 10vw;
}
.content {
    margin: vh 0;
}
.right {
    vertical-align: top;
    display: inline-block;
    width: 40vw;
}
.right img {
    width: 350px;
    height: 350px;
    padding: 25px 25%;
}
.right1 {
    font-size: 20px;
    padding: 0 10px;
    vertical-align: top;
    width: 30vw;
    display: inline-block;
    margin-left: 15vw;
}
.left1 {
    vertical-align: top;
    display: inline-block;
    width: 40vw;
}
.left1 img {
    width:350px;
    height: 350px;
    padding: 25px 25%;
}
.two .content{
   font-weight: 100;
}
#map {
   filter: blur(3px);
   height: 100%;
 width: 100%;
 position:absolute;
 top: 0;
 left: 0;
 z-index: 0;

  -webkit-transition: all .25s;
}
.off-blur{
   filter: blur(0px);
}
.hideme {
    opacity: 0;
}
#count {
    width: 100%;
    display: block;
    background: #efefef;
    height: 10vh;
    color: #122232;
    z-index: 1000;
}

#myChart {
   -webkit-transform:scale(0.3);
   margin-top: 30vh;
}

#count p{
   padding: 15px;
}
